.order-step {
  height: 70px;
  background: #c2c3ce;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
  padding-left: 45px;
  border-radius: 10px;
  color: #9E9E9E;
  position: relative;
}
.order-step::before {
  content: '';
  position: absolute;
  border-radius: 8px;
  inset: 2px;
  background: #fff;
  /* z-index: 1; */
  clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 105%, 11% 50%, 1% 0%)
}
.order-step.step-1::before {
  clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
}
.order-step.pass {
  background: #2196F3;
  color: #1767e5;
}
.order-step.pass::before {
  background: #d4f2ff;
}
.order-step {
  clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
}
.order-step.step-1 {
  clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
}
.order-step span,
.order-step svg {
  z-index: 1;
}