<!DOCTYPE html>
<html lang="en">

<head> 
  {% include 'order-manager/includes/head.html' %}
  {% block extrastyle %}{% endblock extrastyle %}
  {% block extrahead %}{% endblock extrahead %}
</head>

  <!-- {% block nav %}
    {% include 'order-manager/includes/nav.html' %}
  {% endblock nav %} -->

  {% block sidebar %}
    {% include 'order-manager/includes/sidebar.html' %}
  {% endblock sidebar %}

  <main class="content">
    {% block header %}
      {% include 'order-manager/includes/navigation.html' %}
    {% endblock header %}

    {% block content %}{% endblock content %}

    <!-- {% block theme_settings %}
      {% include 'order-manager/includes/theme-settings.html' %}
    {% endblock theme_settings %} -->

    <!-- {% block footer %}
      {% include 'order-manager/includes/footer.html' %}
    {% endblock footer %} -->

  </main>

  {% include 'order-manager/includes/scripts.html' %}
  {% block extra_js %}{% endblock extra_js %}
<body>