{% extends 'order-app/base-site/base-side.html' %}
{% load static %}
{% block css_js_custom_head %}
<link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
<link rel="stylesheet" href="{% static 'order-app/css/home.css' %}">
{% endblock %}
{% block app-container %}
<div class="app-container">
  <div class="order-status remove-margin">
    <div class="tables">
      <div class="text">
        <div>10 Available</div>
        <div>Tables</div>
      </div>
      <img src="{% static 'order-app/images/home/table.png' %}" alt="">
    </div>
    <div class="divider"></div>
    <div class="orders">
      <img src="{% static 'order-app/images/home/Order.png' %}" alt="">
      <div class="text">
        <div>1,200 Fulfilled</div>
        <div>Orders</div>
      </div>
    </div>
  </div>
  <div class="nav-box remove-margin">
    <div class="search">
      <img class="icon-search" src="{% static 'order-app/images/home/search-icon.png' %}" alt="">
      <input type="text" placeholder="Search menu">
      <img onclick="onSearch()" class="icon-filter" src="{% static 'order-app/images/home/filter.png' %}" alt="">
    </div>
    <a href="/order-app/cart">
    <img class="button" src="{% static 'order-app/images/home/phone-call.png' %}" alt="">
    </a>
    <a href="/order-app/cart">
      <img class="button" src="{% static 'order-app/images/home/akar-icons_cart.png' %}" alt="">
    </a>
  </div>
  <div class="banner">
    <!-- <img src="{% static 'order-app/images/home/banner.png' %}" alt="">
    <div class="text">20% Discount
      table for 4</div> -->
      <div class="swiper discount-packages-swipper">
        <div class="swiper-wrapper"></div>
        <div class="swiper-pagination"></div>
      </div>
  </div>
  <div class="section_categories">
  </div>
  <div class="section_popular_food">
    <div class="flex-between">
      <div class="title">
        Most Popular Food
      </div>
      <a href="/order-app/menu?group=food">See more</a>
    </div>
    <div class="foods"></div>
  </div>
  <div class="section_popular_drink">
    <div class="flex-between">
      <div class="title">
        Most Popular Drink
      </div>
      <a href="/order-app/menu?group=drink">See more</a>
    </div>
    <div class="drinks"></div>
  </div>
</div>
<div class="app-menu-container">
  <div class="app-menu">
  </div>
</div>
{% endblock %}
{% block js_custom_foot %}
<script src="{% static 'js/swiper-bundle.min.js'%}"></script>
<script src="{% static 'order-app/js/home.js'%}"></script>
{% endblock %}