{% extends 'order-app/base-site/base-side.html' %}
{% load static %}
{% block css_js_custom_head %}
<link rel="stylesheet" href="{% static 'order-app/css/place-orders.css' %}">
{% endblock %}
{% block app-container %}
<div class="app-container">
  <div class="navigation-header remove-margin animated fadeInDown">
    <div style="display: flex; align-items: center; gap: 4px;">
      <img class="button" src="{% static 'order-app/images/home/akar-icons_cart.png' %}" alt="">
      <span class="page-title">Đơn hàng của bạn</span>
    </div>
  </div>
  <div class="box-orders remove-margin">
    <div class="header row g-0">
      <div class="col-5">Mã đơn</div>
      <div class="col-3">Tổng tiền</div>
      <div class="col-4">Trạng thái</div>
    </div>
    <div class="orders-items">
      <div class="orders-item row g-0">
        <div class="col-5 fw-bold text-primary">KJLKJLKJALK</div>
        <div class="col-3">16000</div>
        <div class="col-4"><span class="badge rounded-pill bg-warning text-dark">Chờ thanh toán</span></div>
      </div>
      <div class="orders-item row g-0">
        <div class="col-5 fw-bold text-primary">KJLKJLKJALK</div>
        <div class="col-3">16000</div>
        <div class="col-4"><span class="badge rounded-pill bg-primary text-light">Chờ món</span></div>
      </div>
      <div class="orders-item row g-0">
        <div class="col-5 fw-bold text-primary">KJLKJLKJALK</div>
        <div class="col-3">16000</div>
        <div class="col-4"><span class="badge rounded-pill bg-success text-light">Hoàn tất</span></div>
      </div>
      <div class="orders-item row g-0">
        <div class="col-5 fw-bold text-primary">KJLKJLKJALK</div>
        <div class="col-3">16000</div>
        <div class="col-4"><span class="badge rounded-pill bg-secondary text-light">Đã hủy</span></div>
      </div>
    </div>
  </div>
  <a href="./cart">
  <button id="btn_home_page" class="btn-primary">
      View cart
    </button>
  </a>
</div>
<div class="app-menu-container">
  <div class="app-menu">
  </div>
</div>
{% endblock %}
{% block js_custom_foot %}
<script src="{% static 'order-app/js/placeOrders.js'%}"></script>
{% endblock %}