{% extends 'order-app/base-site/base-side.html' %}
{% load static %}
{% block css_js_custom_head %}
<link rel="stylesheet" href="{% static 'order-app/css/your-cart.css' %}">
{% endblock %}
{% block app-container %}
<div class="app-container">
  <div class="navigation remove-margin">
    <!-- <div class="back-btn" onclick="onBack()">
        <img class="button" src="images/detail/icon-back.png" alt="">
      </div> -->
    <div style="display: flex; align-items: center; gap: 4px;">
      <img class="button" src="{% static 'order-app/images/home/akar-icons_cart.png' %}" alt="">
      <span class="page-title">Your Cart</span>
    </div>
  </div>
  <div class="box-cart remove-margin">
    <div class="cart-items"></div>
  </div>
  <div class="btn-place-order">
    <button id="btn_place_order">
      <span>Place Order</span>
    </button>
  </div>
  <div id="place_order_popup" class="modal">
    <img src="{% static 'order-app/images/your-cart/success.png' %}" alt="">
    <div class="text-done">Done</div>
    <a href="/order-app/home">
      <button id="btn_home_page">
        <span>GO TO HOMEPAGE</span>
      </button>
    </a>
  </div>
</div>
<div class="app-menu-container">
  <div class="app-menu">
  </div>
</div>
{% endblock %}
{% block js_custom_foot %}
<script src="{% static 'order-app/js/cart.js'%}"></script>
{% endblock %}