{% extends 'order-manager/layouts/base.html' %}
{% load static %}

{% block content %}

  <div id="order_manager" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-2">
    <div class="d-block mb-4 mb-md-0">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
          <li class="breadcrumb-item">
            <a href="{% url 'dashboard' %}">
              <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                </path>
              </svg>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Trang chủ</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{segment}}</li>
        </ol>
      </nav>
    </div>
  </div>
  <h2 class="h4 mb-4">Thông tin đơn hàng :{{order.id}}</h2>
  <div class="table-settings mb-4">
    <div class="row order-steps align-items-center justify-content-center gap-2">
        <div class="order-step step-1 pass">   <span>
          New order
        </span></div>
        <div class="order-step pass">
          <span>
          Confirmed
        </span>
      </div>
        <div class="order-step">
          <span>
          Serving
        </span></div>
        <div class="order-step">   <span>
          Finished
        </span></div>
    </div>
  </div>
  <div class="d-flex align-items-center gap-3">
    <div class="">Xử lý đơn</div>
    <button 
      onclick="onSearchOrderByStatus('pending')"
      class="btn btn-danger ">
      Reject
    </button>
    <button 
      onclick="onSearchOrderByStatus('pending')"
      class="btn btn-primary">
      Approve
    </button>
  </div>
  <div class="row mt-4 g-3">
    <div class="bg-white col-12 col-md-8 card-body border border-2 rounded-2 shadow table-wrapper table-responsive">
      <h5>Thông tin món</h5>
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="border-gray-200">#</th>
            <th class="border-gray-200">Order code</th>
            <th class="border-gray-200">Người mua</th>
            <th class="border-gray-200">Loại đơn</th>
            <th class="border-gray-200">Trạng thái</th>
            <th class="border-gray-200">Thanh toán</th>
            <th class="border-gray-200">Giá(VNĐ)</th>
          </tr>
        </thead>
        <tbody>
          <!-- Items -->
          {% for index,order in data.items %}
            <tr>
              <td>
                <span class="fw-normal"> {{ index|add:data.from}}</span>
              </td>
              <td>
                <span class="fw-normal"> {{order.id}}</span>
              </td>
              <td>
                <a href="#" class="fw-bold">
                  {{order.customer.username}} 
                </a>
              </td>

              <td>
                <span class="fw-normal"> {{order.order_type}}</span>
              </td>
              {% if order.status in 'pending'%}
                <td><span class="p-2 rounded fw-normal bg-danger text-white">{{order.status}}
              {% endif %}
              {% if order.status in 'finished'%}
                <td><span class="p-2 rounded fw-normal bg-success text-white">{{order.status}}
              {% endif %}
              {% if order.status in 'confirmed'%}
                <td><span class="p-2 rounded fw-normal bg-primary text-white">{{order.status}}
              {% endif %}
              {% if order.status in 'serving'%}
                <td><span class="p-2 rounded fw-normal bg-indigo text-white">{{order.status}}
              {% endif %}
              {% if order.status in 'cancelled'%}
                <td><span class="p-2 rounded fw-normal bg-secondary text-white">{{order.status}}
              {% endif %}
              </span></td>
              <td><div class="form-check form-switch">
                {% if not order.is_paid %}
                <input class="form-check-input" type="checkbox" disabled>
                {% endif %}
                {% if order.is_paid %}
                <input class="form-check-input" type="checkbox" checked disabled>
                {% endif %}
              </div></td>
              <td>
                <span class="fw-normal"> {{ order.total }}</span>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="card-footer border-0 d-flex flex-lg-row justify-content-end">
        {% if data.total_page > 1 %}
          <nav aria-label="Page navigation">
            <ul class="pagination">
              {% if data.page_objects.has_previous %}
                  <li class="page-item">
                <a class="page-link" href="?page={{ data.page_objects.previous_page_number }}&search={{data.params.search}}">Trước</a></li>
              {% else %}
                  <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
              {% endif %}
              
              {% if data.page_objects.number|add:'-4' > 1 %}
                  <li class="page-item">
                <a class="page-link" href="?page={{ data.page_objects.number|add:'-5' }}&search={{data.params.search}}">&hellip;</a></li>
              {% endif %}
              
              {% for i in data.page_objects.paginator.page_range %}
                  {% if data.page_objects.number == i %}
                      <li class="page-item active"><span class="page-link sr-only">{{ i }}</span></li>
                  {% elif i > data.page_objects.number|add:'-3' and i < data.page_objects.number|add:'3' %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ i }}&search={{data.params.search}}">{{ i }}</a>
                      </li>
                  {% endif %}
              {% endfor %}
              
              {% if data.page_objects.paginator.num_pages > data.page_objects.number|add:'4' %}
                  <li class="page-item">
                <a class="page-link" href="?page={{ data.page_objects.number|add:'5' }}&search={{data.params.search}}">&hellip;</a></li>
              {% endif %}
              
              {% if data.page_objects.has_next %}
                  <li class="page-item">
                <a class="page-link" href="?page={{ data.page_objects.next_page_number }}&search={{data.params.search}}">Kế tiếp</a></li>
              {% endif %}
              
              </ul>
          </nav>
        {% endif %}
        {% if data.total == 0 %}
          <p class="m-auto mb-2">Không tìm thấy kết quả.</p>
        {% endif %}
      </div>
    </div>
    <div class="bg-white col-12 col-md-4 card-body border border-2 rounded-2">
      <h5 class="">Thông tin đơn hàng</h5>
      <div class="d-flex justify-content-between mb-1">
        <span class="text-gray">Thời gian đặt:</span><span>20-02-2023</span>
      </div>
      <div class="d-flex justify-content-between mb-1">
        <span class="text-gray">Người đặt:</span><span>20-02-2023</span>
      </div>
      <div class="d-flex justify-content-between mb-1">
        <span class="text-gray">Loại đơn:</span><span>20-02-2023</span>
      </div>
      <div class="d-flex justify-content-between mb-1">
        <span class="text-gray">Giá(VNĐ):</span><span>20-02-2023</span>
      </div>
      <h5 class="mt-4">Khách hàng</h5>
      <div class="d-flex justify-content-between mb-1">
        <span class="text-gray">Thời gian đặt:</span><span>20-02-2023</span>
      </div>
      <div class="d-flex justify-content-between mb-1">
        <span class="text-gray">Người đặt:</span><span>20-02-2023</span>
      </div>
      <div class="d-flex justify-content-between mb-1">
        <span class="text-gray">Loại đơn:</span><span>20-02-2023</span>
      </div>
      <div class="d-flex justify-content-between mb-1">
        <span class="text-gray">Giá(VNĐ):</span><span>20-02-2023</span>
      </div>
    </div>
</div>

{% endblock content %}

{% block extra_js %}
  <script>
    let queryString = window.location.search;
    let urlParams = new URLSearchParams(queryString);
    let statusFilter = urlParams.get('status') || ''

    function onSearchOrder() {
      const searchText = $('#search_customer').val()
      const status = statusFilter
      const is_paid = $('#is_paid_filter').val()
      const order_type = $('#order_type_filter').val()
      console.log({searchText,status,is_paid,order_type});
      urlParams.set('search', searchText)
      urlParams.set('status', status)
      urlParams.set('is_paid', is_paid)
      urlParams.set('order_type', order_type)
      urlParams.set('page', 1)
      const path = window.location.pathname;
      window.location.assign(`?${urlParams.toString()}`)
    }
    function onSearchOrderByStatus (value) {
      statusFilter=value;
      onSearchOrder()
    }

  </script>
{% endblock %}