<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block page_title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block css_js_default_head %}{% endblock %}
    {% block css_js_custom_head %}{% endblock %}
</head>

<body>
    {% block app-container %}
    {% endblock %}
    <div id="login_popup" class="modal popup-form animated fadeInDown">
        <div class="container">
          <div class="row">
            <div class="col-md-offset-3">
              <h1 class="text-center font-weight-bold">Đăng nhập</h1>
              <form class="form-horizontal">
                <div class="form-group">
                  <label for="phone" class="control-label">Số điện thoại</label>
                  <div class="">
                    <input type="phone" class="form-control" id="phone" placeholder="Nhập số điện thoại">
                  </div>
                </div>
                <div class="form-group">
                  <label for="password" class="control-label">Mật khẩu</label>
                  <div class="">
                    <input type="password" class="form-control" id="password" placeholder="Nhập mật khẩu">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2">
                    <button onclick="handleLogin()" class="btn btn-primary btn-block">Đăng nhập</button>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label text-center">Chưa có tài khoản</label>
                  <div class="col-sm-offset-2">
                    <button onclick="handleRegister()" class="btn btn-outline-primary btn-block">Đăng ký ngay</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
    {% block js_default_foot %}
    {% endblock %}
    {% block js_custom_foot %}
    {% endblock %}
</body>

</html>