<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block page_title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block css_js_default_head %}{% endblock %}
    {% block css_js_custom_head %}{% endblock %}
</head>

<body>
    {% block app-container %}
    {% endblock %}
    <div id="login_popup" class="modal popup-form animated fadeInDown" aria-hidden="true" >
      <div class="container">
        <div class="row">
          <div class="col-md-offset-3">
            <h1 class="text-center font-weight-bold">Đăng nhập</h1>
            <form class="form-horizontal">
              {% csrf_token %}
              <div class="form-group">
                <label for="username" class="control-label">Tài khoản</label>
                <div class="">
                  <input type="text" class="form-control" id="username" placeholder="Nhập tài khoản">
                </div>
                <span id="login_username_error" class="error-text text-danger"></span>
              </div>
              <div class="form-group">
                <label for="password" class="control-label">Mật khẩu</label>
                <div class="">
                  <input type="password" class="form-control" id="password" placeholder="Nhập mật khẩu">
                </div>
                <span id="login_password_error" class="error-text text-danger"></span>
              </div>
              <span id="login_error" class="error-text text-danger"></span>
            </form>
            <div class="form-group">
              <div class="col-sm-offset-2">
                <button onclick="handleLogin()" class="btn btn-primary btn-block">Đăng nhập</button>
              </div>
              <div class="text-end text-primary"><a>Quên mật khẩu</a></div>
            </div>
            <div class="form-group">
              <label class="control-label text-center">Chưa có tài khoản</label>
              <div class="col-sm-offset-2">
                <button onclick="popupRegister()" class="btn btn-outline-primary btn-block text-uppercase mt-0">Đăng ký ngay</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="register_popup" class="modal popup-form animated fadeInUp">
      <div class="container">
        <div class="row" id="register_step_1">
          <div class="col-md-offset-3">
            <h1 class="text-center font-weight-bold">Đăng ký</h1>
            <form class="form-horizontal">
              <div class="form-group">
                <label for="register_username" class="control-label">Tài khoản</label>
                <div class="">
                  <input type="text" class="form-control" id="register_username" placeholder="Nhập tài khoản">
                </div>
                <span id="register_username_error" class="error-text text-danger"></span>
              </div>
              <div class="form-group">
                <label for="register_password" class="control-label">Mật khẩu</label>
                <div class="">
                  <input type="password" class="form-control" id="register_password" placeholder="Nhập mật khẩu">
                </div>
                <span id="register_password_error" class="error-text text-danger"></span>
              </div>
            </form>
            <div class="form-group">
              <div class="col-sm-offset-2">
                <button onclick="handleRegister()" class="btn btn-primary btn-block">Đăng ký</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row d-none" id="register_step_2">
          <div class="col-md-offset-3">
            <h1 class="text-center font-weight-bold">Xác nhận OTP</h1>
            <form>
              <div class="form-group">
                <label class="control-label mb-2" for="otp">Nhập OTP được gửi đến số điện thoại của bạn</label>
                <div class="input-group mb-3 flex-nowrap">
                  <input type="text" class="form-control otp-input" id="digit1" name="digit1" maxlength="1" aria-label="Digit 1">
                  <input type="text" class="form-control otp-input" id="digit2" name="digit2" maxlength="1" aria-label="Digit 2">
                  <input type="text" class="form-control otp-input" id="digit3" name="digit3" maxlength="1" aria-label="Digit 3">
                  <input type="text" class="form-control otp-input" id="digit4" name="digit4" maxlength="1" aria-label="Digit 4">
                </div>
              </div>
            </form>
            <button onclick="confirmOtp()" class="btn btn-primary btn-block">Xác nhận</button>
        </div>
        </div>
      </div>
    </div>
    <div id="processing">
      <div class="overlay"></div>
      <div id="spinner"></div>
    </div>
    {% block js_default_foot %}
    {% endblock %}
    {% block js_custom_foot %}
    {% endblock %}
</body>

</html>