{% load static %}

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->
<title>Wenet F&B Manager</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="Wenet F&B Manager">
<meta name="author" content="Themesberg">
<meta name="description" content="Order Admin">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'order-manager/assets/img/favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'order-manager/assets/img/brand/logo.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'order-manager/assets/img/brand/logo.png' %}">
<link rel="manifest" href="{% static 'order-manager/assets/img/favicon/site.webmanifest' %}">
<link rel="mask-icon" href="{% static 'order-manager/assets/img/favicon/safari-pinned-tab.svg' %}" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- Sweet Alert -->
<link type="text/css" href="{% static 'order-manager/vendor/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet">

<!-- Notyf -->
<link type="text/css" href="{% static 'order-manager/vendor/notyf/notyf.min.css' %}" rel="stylesheet">

<!-- Volt CSS -->
<link type="text/css" href="{% static 'order-manager/css/volt.css' %}" rel="stylesheet">
<link type="text/css" href="{% static 'order-manager/css/main.css' %}" rel="stylesheet">

<!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->