.nav-box {
	position: fixed;
	max-width: 400px;
	top: 0;
	width: 100%;
	background: #f5f5f5;
	z-index: 1;
	padding: 12px 25px;
	margin-bottom: -12px;
	margin-top: 0;
}
.section_items_order {
	display: flex;
	flex-wrap: wrap;
	margin-left: -12px;
	margin-right: -12px;
	margin-top: 24px;
}

.section_items_order .order-item {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 5px;
	font-weight: 600;
	font-size: 12px;
	padding: 0 12px;
	margin-bottom: 24px;
}

.order-item img {
	filter: drop-shadow(2px 4px 15px rgba(0, 0, 0, 0.25));
}

.order-item .name {
	font-weight: 400;
	font-size: 12px;
	color: #000;
}

.order-item .price {
	/* color: #808080; */
	color: #df6751;
}
.app-container {
	padding-top: 60px;
}