.box-orders {
  background: #fff;
  /* height: 400px; */
  /* padding: 15px; */
}
.box-orders .header-table {
  /* border-top-left-radius: 8px;
  border-top-right-radius: 8px; */
  overflow: hidden;
  font-size: 14px;
}
.box-orders .header-table div {
  /* border: solid de3905 1px; */
  padding: 6px;
  background: #de3905;
  color: #fff;
  height: 50px;
  display: flex;
  align-items: center;
  border: #de3905 solid 1px;
}
.box-orders .orders-items {
  border: #9E9E9E solid 1px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  /* overflow: hidden; */
  overflow: auto;
  height: calc( 100vh - 380px );

}
.box-orders .orders-item {
  padding: 4px 0;
  background: #fff;
  border-top: solid #9E9E9E  1px;

}
.box-orders .orders-item div {
  padding: 6px;
  display: flex;
  align-items: center;
}
.box-orders .orders-item div .badge {
  font-size: 10px;
  /* width: 100%; */
  margin: auto;
  line-height: 20px
}