.box-orders {
  background: #fff;
  /* height: 400px; */
  padding: 25px;
}
.box-orders .header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}
.box-orders .header div {
  /* border: solid de3905 1px; */
  padding: 6px;
  background: #de3905;
  color: #fff;
  height: 40px;
  display: flex;
  align-items: center;
  border: #de3905 solid 1px;
}
.box-orders .orders-items {
  border: #de3905 solid 1px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.box-orders .orders-item {
  padding: 4px 0;
  background: #fff;
  border-bottom: solid #de3905 1px;

}
.box-orders .orders-item div {
  padding: 6px;
  display: flex;
  align-items: center;
}
.box-orders .orders-item div .badge {
  font-size: 10px;
  line-height: unset;
  width: 100%;
  line-height: 24px
}